<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<body>

<div class="container pt-5">

    <div class="card ">
        <div class="card-header">
            Administrative data
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Title of the project</h4>
                    <p id="projectTitle">Title 1</p>

                    <h4 class="pt-2">Author of document</h4>
                    <p id="name">Dr. Foo</p>

                    <h4 class="pt-2">Date</h4>
                    <p id="date">2018-03-01</p>

                </div>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            Data Collection
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Type</th>
                            <th scope="col">State</th>
                            <th scope="col">Quantity</th>
                        </tr>
                        </thead>
                        <tbody id="filesTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            Selection and Preservation
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>What Is the long term preservation plan?</h4>
                    <p id="repository">XY Repo</p>

                </div>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            Data Sharing
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>License</h4>
                    <p id="license">GNU XY</p>

                </div>
            </div>
        </div>
    </div>

</div>




</body>
</html>